#==============================================================================#
# File extensions to be ignored anywhere in the tree.
#==============================================================================#

#==============================================================================#
# Ignore node modules.
#==============================================================================#
server/node_modules/

#==============================================================================#
# Ignore other files.
#==============================================================================#
git.txt